
@{
    ViewBag.Title = "Contacto";
}

<main>
    <div class="container mt-5">
        <!-- banner -->
        <div class="alert alert-primary text-center alert-dismissible fade show">
            <p class="fw-bold"><i class="bi bi-truck"></i> Hacemos entregas en todos los departamentos del pais</p>
            <p class="fw-bold mb-0">Servicio al cliente</p>
            <p class="mb-0">Telefonos (503) 7854-4574 | (503) 2229-3281</p>
            <p class="mb-0">Email: ventas@ninis.com</p>
            <p class="mb-0">Soporte técnico y garantías: soporte@ninis.com</p>
            <p class="mb-0">
                Horario de atención: Lunes a Viernes: 09:00 - 02:30 y 03:30 - 06:00, Sábados: 10:00am - 01:00pm
            </p>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="row mb-5">
            <div class="col-md-9">
                <div class="responsive-map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15507.194343644645!2d-89.29421990000002!3d13.67000795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2ssv!4v1622354690660!5m2!1ses-419!2ssv"
                            width="970" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="mb-4">Sucursal Santa tecla</h4>
                <div class="d-flex mb-2">
                    <div class="flex-shrink-0">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="flex-grow-1 ms-3 text-start">
                        Plaza Diseño
                        10 calle ote
                        Santa Tecla, La Libertad, El Salvador
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="flex-shrink-0">
                        <i class="bi bi-telephone-fill"></i>
                    </div>
                    <div class="flex-grow-1 ms-3 text-start">
                        (503) 7854-4574
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <i class="bi bi-clock-fill"></i>
                    </div>
                    <div class="flex-grow-1 ms-3 text-start">
                        Lunes a Viernes: 10:00am - 07:00pm, Sábados: 10:00am - 05:00pm
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-9">
                <div class="responsive-map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d62078.83134209534!2d-88.20410889084671!3d13.478598342722561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2ssv!4v1623951125162!5m2!1ses-419!2ssv"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="mb-4">Sucursal San Miguel</h4>
                <div class="d-flex mb-2">
                    <div class="flex-shrink-0">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="flex-grow-1 ms-3 text-start">
                        Plaza San Cristobal
                        Calle principal #252
                        San Miguel, San Miguel, El Salvador
                    </div>
                </div>
                <div class="d-flex mb-2">
                    <div class="flex-shrink-0">
                        <i class="bi bi-telephone-fill"></i>
                    </div>
                    <div class="flex-grow-1 ms-3 text-start">
                        (503) 7854-4574
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <i class="bi bi-clock-fill"></i>
                    </div>
                    <div class="flex-grow-1 ms-3 text-start">
                        Lunes a Viernes: 10:00am - 07:00pm, Sábados: 10:00am - 05:00pm
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
