
@{
    ViewBag.Title = "Nosotros";
}


<main>
    <div class="container mt-4 mb-4">
        <div class="row gap-3">
            <!-- Categorias y banners -->
            <div class="col-md-3 p-0">
                <!-- Categorias -->
                <ul class="list-group">
                    <li class="list-group-item d-flex b:r:0">
                        <i class="bi bi-mouse me-4"></i>
                        <span class="flex-grow-1">Accesorios</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-mic me-4"></i>
                        <span class="flex-grow-1">Audio</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-laptop me-4"></i>
                        <span class="flex-grow-1">Computadoras</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-upc-scan me-4"></i>
                        <span class="flex-grow-1">Componentes</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-droplet me-4"></i>
                        <span class="flex-grow-1">Consumubles</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-menu-app me-4"></i>
                        <span class="flex-grow-1">Almacenamiento</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <i class="bi bi-battery me-4"></i>
                        <span class="flex-grow-1">Electronica de consumo</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-printer me-4"></i>
                        <span class="flex-grow-1">Impresion</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-disc me-4"></i>
                        <span class="flex-grow-1">Software</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-display me-4"></i>
                        <span class="flex-grow-1">Monitores</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-phone me-4"></i>
                        <span class="flex-grow-1">Celulares</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-hdd-network me-4"></i>
                        <span class="flex-grow-1">Redes</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="bi bi-app-indicator me-4"></i>
                        <span class="flex-grow-1">Apple</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                    <li class="list-group-item d-flex b:r:0">
                        <i class="bi bi-battery me-4"></i>
                        <span class="flex-grow-1">Energia</span>
                        <i class="bi bi-arrow-right-circle"></i>
                    </li>
                </ul>
            </div>
            <!-- Contenido principal -->
            <div class="col p-0">
                <!-- Carousel -->
                <div id="homeCarousel" class="carousel mb-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active carousel:item">
                            <img src="https://images.pexels.com/photos/3184430/pexels-photo-3184430.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                 class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <!-- Texto -->
                <div class="d-flex flex-column text-center">
                    <!-- Historia -->
                    <section class="mb-3">
                        <h3>Ninis</h3>
                        <p class="text-muted text-start">
                            DD Tech surge para atender las crecientes necesidades mostradas por el mercado de consumidores de
                            electronicos y computo con la idea de satisfacerlas de una forma eficaz, ágil y con precios accesibles,
                            además somos uno de los más grandes vendedores en la plataforma Mercado Libre (distinguidos con el
                            nombramiento de mercadolider platinum, categoría que se le otorga sólo a vendedores miembros de la
                            comunidad que gozan de una reputación impecable).
                        </p>
                        <p class="text-muted text-start">
                            Actualmente contamos con una oficina central y una sucursal ubicada en la zona centro de la ciudad de
                            Guadalajara, Jalisco, desde sus inicios nos propusimos ser una empresa que crease una conexión más
                            directa
                            entre sus clientes y personal, que los guiará a realizar una buena compra.
                        </p>
                        <p class="text-muted text-start">
                            Más de 7 años brindando atención, servicio, calidad e innovación.
                        </p>
                    </section>

                    <!-- Objectivo -->
                    <section class="mb-3">
                        <h5>Objetivo General</h5>
                        <p class="text-muted text-start">
                            Nuestro objetivo general es satisfacer de manera eficaz las necesidades del mercado, buscando la mejora
                            continua en los servicios de la empresa.
                        </p>
                    </section>

                    <!-- Mision y vision -->
                    <section class="mb-3">
                        <div class="row">
                            <div class="col">
                                <h5>Mision</h5>
                                <p class="text-muted text-start">
                                    Ser el aliado estratégico de nuestros clientes, guiándolos a una compra inteligente.
                                </p>
                            </div>
                            <div class="col">
                                <h5>Vision</h5>
                                <p class="text-muted text-start">
                                    Ser el mejor proveedor de tecnología y servicio online para un mercado en constante cambio.
                                </p>
                            </div>
                        </div>
                    </section>

                    <!-- Valores -->
                    <section class="mb-3">
                        <h5>Valores</h5>
                        <ol class="text-muted text-start">
                            <li class="mb-2">
                                <strong>Integridad</strong>: Estamos expresamente comprometidos a que todas nuestras transacciones de
                                negocios se realicen con integridad, honestidad y siguiendo normas éticas de conducta.
                            </li>
                            <li class="mb-2">
                                <strong>Receptividad</strong>: Como una organización, reconocemos la importancia de ser receptivos a
                                las necesidades de todos aquellos con los cuales hacemos negocios, independiente de su ubicación.
                            </li>
                            <li class="mb-2">
                                <strong>Respeto</strong>: A las ideas y diferencias individuales y culturales.
                            </li>
                            <li class="mb-2">
                                <strong>Trabajo en equipo</strong>: DD Tech considera de gran valor el trabajo en equipo entre sus
                                departamentos. Este espíritu debe prevalecer en toda actividad, incluyendo las relaciones con los
                                clientes.
                            </li>
                            <li class="mb-2">
                                <strong>Servicio al cliente</strong>: DD Tech considera de vital importancia ofrecer excelencia en el
                                servicio, proporcionado a nuestros clientes “lo que el cliente necesita, en donde lo necesita y cuando
                                lo necesita”.
                            </li>
                            <li class="mb-2">
                                <strong>Responsabilidad</strong>: Estamos comprometidos en ser un socio de negocios que siempre cumpla
                                con lo prometido.
                            </li>
                        </ol>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
